/* This is the background color for the home page */
.Home {
    background-color: #7FA1B1;
}

/* This is the background color for the about page */
.About {
    background-color: #7FA1B1;
}

/* This is the background color for the portfolio page */
.portfolio {
    background-color: #7FA1B1;
}

/* Header and Nav bar styling. It's consistent across all three pages */
body, h1 {
    margin: 0;
    padding: 0;
}

#Header{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-style: italic;
    color: #ffffff;
    background-color: #435058;
    padding: 20px;
    box-shadow: #435058 0px 0px 20px;
    margin: 0;
}

#navbar{
    text-align: center;
    background-color: #435058;
    padding: 10px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
    width: 50%;
    border-radius: 15px;
    border: 2px solid #435058;
    box-shadow: 0 0 20px #435058;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-bottom: 40px;
}

a {
    font-size: 1.2rem;
    word-spacing: 110px;
    text-decoration: none;
    color: #ffffff;  
}

/* This is the styling for the home page */

#personal-photo {
    width: 30%;
    border-radius: 15px;
    margin: 0 auto;
    display: block;
    box-shadow: #435058 0px 0px 20px;
}

h2 {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
    color: #ffffff;
    word-spacing: 20px;
    margin-bottom: 30px;
    text-shadow: #9B735A 0px 0px 20px; 
}

p {
    background-color: #ffffff;
    width: 80%;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: #435058 0px 0px 20px;
    text-transform: bold;
    font-family: cursive;
    font-size: 1.6rem;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 20px;
} 

/* This is the styling for the about page */

#Fantasyphoto {
    width: 25%;
    border-radius: 15px;
    display: block;
    box-shadow: #435058 0px 0px 20px;
    float: right;
    margin: 0 0 20px 20px;
    margin-right: 2%;
}

#OfNightphoto {
    width: 30%;
    border-radius: 15px;
    display: block;
    box-shadow: #435058 0px 0px 20px;
    margin: 0 0 20px 20px;
    margin-top: 5%;
    float: right;
    transform: rotate(270deg);
}

#Travelphoto {
    width: 25%;
    border-radius: 15px;
    height: auto;
    display: block;
    box-shadow: #435058 0px 0px 20px;
    margin: 10px auto;
    margin-bottom: 3%;
    margin-right: 2%;
    float: right;
    margin-top: 0%;
}

h3 {
    font-family: cursive;
    font-size: 2.5rem;
    text-align: center;
    color: #ffffff;
    word-spacing: 5px;
    text-shadow: #9B735A 0px 0px 20px;
    margin: 20px auto;
}

.aGlimpse {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-shadow: none;
    text-decoration: underline #435058 2px;
    text-decoration-style: solid;
    text-underline-offset: 1px;
    text-underline-position: under;
    margin-top: 5%;
}

.AboutText {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.4rem;
    text-align: justify;
    word-spacing: 5px;
    line-height: 1.5;
    margin: 0;
    display: inline-block;
    width: 65%;
    margin-top: 0%;
    margin-left: 1%;
}

.AboutSectionFantasy {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.AboutSectionMusic {
    display: block;
    margin-top: 300px;
}

.AboutSectionTravel {
    margin-top: 150px;
}

#FantasyTitle{
    margin-right: 10%;
}

#MusicTitle{
    margin-right: 10%;
}

#TravelTitle{
    margin-right: 10%;
}

@media screen and (max-width: 768px) {
    #Fantasyphoto, #OfNightphoto, #Travelphoto {
        width: 80%;
        margin: 10px auto; 
    }

    h3 {
    font-size: 1.5rem;
    margin: 10px auto;
    }

    .AboutText {
        font-size: 1.2rem;
        width: 90%;
    }

    .aGlimpse {
    margin-top: 2%;   
 }

}

/* This is the styling for the portfolio page */

.ProjectHeaders {
    float: left;
    margin-left: 100px;
    margin-top: 350px;
    margin-right: 100px;
    border: 2px #937B5A;
    width: 20%;
    border-radius: 15px;
    background-color: #435058;
    padding: 5px;
    box-shadow: #435058 0px 0px 20px;
}

.PortfolioText {
    width: 60%;
    display: inline-block;
    margin-right: 30px;
    margin-left: 0px;
}

#DevPhoto {
    width: 45%;
    border-radius: 15px;
    display: block;
    box-shadow: #435058 0px 0px 20px;
    float:right;
    margin-left: 0px;
    margin-right: 100px;
    margin: 40px;
}

#FitnessPhoto{
    width: 45%;
    border-radius: 15px;
    display: block;
    box-shadow: #435058 0px 0px 20px;
    float:right;
    margin-left: 0px;
    margin-right: 100px;
    margin: 40px;
}

#VideoGamePhoto {
    width: 45%;
    border-radius: 15px;
    display: block;
    box-shadow: #435058 0px 0px 20px;
    float:right;
    margin-left: 0px;
    margin-right: 100px;
    margin: 40px;
}

